@model NewsSitePro.Models.HeaderViewModel

<!-- ------------------------------------------------------------------------------
     _RightSidePanelPartial.cshtml

     This partial view renders the right sidebar for NewsSitePro. It includes trending
     topics
------------------------------------------------------------------------------ -->
<div class="right-sidebar">
    <div class="sidebar-content">
        <!-- Trending Topics: dynamically loaded via JS -->
        <!-- Trending Topics -->
        <div class="trending-section">
            <h3 class="section-header">
                Trending Topics
                <small class="trending-last-updated"></small>
            </h3>
            <div class="trending-list" id="trendingList">
                <!-- Trending topics will be loaded dynamically via JavaScript -->
                <div class="trending-loading">
                    <div class="spinner"></div>
                    <span>Loading trending topics...</span>
                </div>
            </div>
            @* <a href="/Search?type=posts&trending=true" class="show-more-link">Show more trending</a> *@
        </div>

        




        
    </div>
</div>
