@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml"; // Use the layout file
    ViewData["HeaderData"] = Model.HeaderData;
    ViewData["Title"] = "Login";
}
<!-- Your page content here -->

<div>hello</div>